@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
  }

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;    
}
body{
    font-size: 12px;
    line-height: 1.5em; 
    color: var(--Dark-Gray);
    font-family: 'Spartan', sans-serif;       
}
.content{
    display:flex;
    flex-flow: row wrap;
    align-items:center;
    flex-basis: 50%;    
}

/*header*/
header{  
    position:absolute;
    top: 5em;
    background: yellow;
}
header nav {
    margin-left: 3em;
}
header nav .menu a{   
   margin: 0 1em;  
}

/*section carrusel completo*/
.carrusel-content{
    width:100%;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 303%;  
    animation: cambio 5s ease-in 1s infinite alternate running;  
}
.btn-arrow{
    display: flex;
    position: absolute;
    top: 29.3em;
    left: 53.1em;
    justify-items: center;
}
.btn-arrow a{
    padding: 1em 2em;
    border: transparent;
    background: var(--Black);  
}
/*section carrusel text*/
.carrusel .row picture{
    flex-basis: 50%;    
}
.txt-carrusel{
    display: column;
    flex-basis: 40%;
    padding: 0em 5em;
    margin: 0 2em; 
    align-items:center ;   
}
.carrusel .row .txt-carrusel h1{
 color: var(--Black);
 font-size: 30px;
 line-height: 1.2em;
 margin-bottom: 1em; 
}
.btn-shop{
display: flex;
align-items: center;
margin-top: 2em; 
}
.btn-shop a{
    letter-spacing: 0.5em;
    font-size: 10px;
    font-weight: 600;
    color: var(--Very-Dark-Gray);
}
.btn-shop img{
margin-left: 2em;    
}

/*section 2*/
.about div{   
flex-wrap: nowrap;
align-items: center;
}
.about div picture{
    flex-basis:30%;
}

.about div article {    
    justify-content: center;
    flex-basis: 40%;      
    padding: 0 4em;   
}

.about div article h3{    
    margin-bottom: 1em; 
    color: var(--Black);
    letter-spacing: 0.4em;      
} 


@keyframes cambio{
    0%{ left: 0;}
    30%{ left: 0;}

    35% { left: -303%; }
    65% { left: -303%; }
    
    700% {left: -606%; }    
    100% {left: -606%; }
}
