@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
  }

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: content-box;   
}
body{
    font-size: 12px;
    line-height: 1.5em; 
    color: var(--Dark-Gray);
    font-family: 'Spartan', sans-serif;
    font-weight: 500;       
}
.content{   
    width: 100%;
    height: auto;
}


/*header*/
header{
    z-index: 2;
    left: 4em;
    top: 3em;
}
header nav {
    margin-left: 3em;
}
header nav .menu a{   
   margin: 0 1em;  
}
/*slider*/
.carrusel .text {
    display: flex;
    align-items: center;    
}
.carrusel .text img {
    width: 750px;
    height:auto; 
}
.carrusel .text article {
    margin: 2em;    
}
.carrusel .text article h1{
font-weight: 700;
color: var(--Black);
font-size: 30px;
margin-bottom: 1em;
}
.carrusel .text article a{
    display: flex;
    align-items: center;
    color: var(--Black);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-decoration: none;
    margin-top: 4em;
}
.carrusel .text article img{
    width: 3em;
    margin-left: 2em;
}

.carrusel .content .arrows{
 position: absolute; 
 top: 33.7em;
 left: 62.5em;
 width: 6em;
 
}
.carrusel .content .arrows a{
    display: flex;
    justify-items: center;
    background-color: var(--Black);
    padding: 3em;
}


.about{
    display: flex;
    justify-content: center;
}
.about .content{    
    display: flex; 
    align-items: center;    
}
.about .content img{
    width: 350px;
    height:200px;    
}
.about .content article{   
    padding: 0em 4em;   
}
.about .content article h5{
    font-weight: 700;
    margin: 1em 0;
    font-size: 12px;
    color: var(--Black);
    letter-spacing: 0.5em;
}



@media (min-width: 320px) and (max-width: 1024px) {
    .carrusel .text {
        flex-direction: column;            
    }
    .carrusel .text img {
       width: 100%;  
    }    
}