@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box; 
    text-decoration: none;  
}
body{
    font-size: 12px;
    line-height: 1.5em; 
    color: var(--Dark-Gray);
    font-family: 'Spartan', sans-serif;
    font-weight: 500;       
}
.content{   
    width: 100%;
    height: auto;
}


header{
    z-index: 2;
    left: 4em;
    top: 3em;
}
header nav {
    margin-left: 3em;
}
header nav .menu a{   
   margin: 0 1em;  
}


.carrusel .carrusel-text{
    display: flex;
    align-items: center;    
}
.carrusel .carrusel-text img {
    width: 750px;
    height:auto; 
}
.carrusel .carrusel-text article {
    margin: 2em;    
}
.carrusel .carrusel-text article h1{
font-weight: 700;
color: var(--Black);
font-size: 30px;
margin-bottom: 1em;
}
.carrusel .carrusel-text article a{
    display: flex;
    align-items: center;
    color: var(--Black);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-decoration: none;
    margin-top: 4em;
}
.carrusel .carrusel-text article img{
    width: 3em;
    margin-left: 2em;
}
.carrusel .content .arrows a{
    display: flex;    
    background-color: var(--Black);
    opacity: 1;
    padding:  3em 0em;
    display: flex;
    bottom:250px;
    top: 404.8px;
}
.carrusel .content .arrows{
    display: flex;
}
.carrusel .content .carousel-control-prev{
    left: 62.5em;
}
.carrusel .content .carousel-control-next{
    right: 12em;
}

.about{
    display: flex;
    justify-content: center;
}
.about .content{    
    display: flex; 
    align-items: center;    
}
.about .content img{
    width: 350px;
    height:200px;    
}
.about .content article{   
    padding: 0em 4em;   
}
.about .content article h5{
    font-weight: 700;
    margin: 1em 0;
    font-size: 12px;
    color: var(--Black);
    letter-spacing: 0.5em;
}

@media (min-width: 425px) and (max-width:800px) {
    header{
        display: flex;
        flex-direction: row-reverse;
    }
    header nav {
        margin-left: 0em;
        background: var(--Dark-Gray);         
    }
    header nav .menu{
        display: flex;
        flex-direction: row;       
    }    
    header nav .menu a{   
       margin: 0 1.5em;
    }    
    .carrusel .carrusel-text{
        flex-wrap: wrap;
        justify-content: center;
    }
    .carrusel .carrusel-text img {
        width: 100%;       
    }
    .carrusel .carrusel-text article {
        flex-basis: 50%;
        margin: 4em;    
    }
    .carrusel .content .arrows a{
        top:415px;  
        bottom: 400px;      
    }
    .carrusel .content .carousel-control-prev{
        left: 45em;
    }
    .carrusel .content .carousel-control-next{
        right: 0em;
    } 
    .about .content{    
        flex-wrap: wrap;
        justify-content: center;  
    }
    .about .content img{
        width: 100%;
        height:auto;    
    }
    .about .content article{   
        flex-basis: 50%;
        margin: 4em;   
    }    
    
}